@using Microsoft.AspNetCore.Http;
@model DeriHastaliklari.Models.AddPhoto;

@{
    Layout = null;
    string fullname = Context.Session.GetString("fullname");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">
    <link href="~/fotograf-yukle/styles/style.css" rel = "stylesheet" /> 

    <title>Hoşgeldiniz</title>
</head>

<body>

    <div class="container1 w-container">
        <div class="div0">
            <div class="divsol">
                <div class="navbar">
                    <img src="~/fotograf-yukle/images/logo.png" class="logo-icon">
                </div>
                <div class="kisiselbilgiler">
                    <div class="text-block-2">Kişisel Bilgiler</div>
                    <img src="~/fotograf-yukle/images/Rectangle-171.png" loading="lazy" alt="" class="settings-icon">
                </div>
            </div>
            <div class="divkutu">
                <div class="div1">
                  @fullname
                </div>
                <form class= "form-group" action="Photo" method="post" enctype="multipart/form-data">
                    
                    @Html.Label("Kaşıntı durumu")
                    @Html.TextBoxFor(x=>x.Itch, new { @class = "form-control" , @required  = "required"} )
                    <br />
                     @Html.Label("Acı durumu")
                    @Html.TextBoxFor(x=>x.Pain, new { @class = "form-control", @required  = "required"})
                    <br />

                     @Html.Label("Devam ediyor mu")
                    @Html.TextBoxFor(x=>x.Cont, new { @class = "form-control", @required  = "required"})
                    <br />
                    @Html.Label("ek bilgi")
                    @Html.TextBoxFor(x=>x.Additional, new { @class = "form-control"})
                    <br />

                    <input type="file" name = "ImageURL" class="button-2 w-button" accept="image/png, image/jpeg, image/jpg"/>
                    <span class="alert-danger" style="color: red;">@ViewData["warning"]</span>
                
                <input class="button-4 w-button" type="submit" name="" value="Kaydet">
                </form>
            </div>
            <div class="divsag">
                <img src="~/fotograf-yukle/images/logo.png" loading="lazy" alt="" class="image">
                <div class="saglikbilgiler">
                    <div class="text-block-2">Sağlık Durumu </div>
                    <div class="text-block-2">Alerji Durumu</div>
                    <div class="text-block-2">Aktif Kullanılan İlaç(lar)</div>
                    <div class="text-block-2">Kronik Rahatsızlık:</div>
                    <img src="~/fotograf-yukle/images/Rectangle-171.png" loading="lazy" alt="" class="image-2">
                </div>
            </div>
        </div>
    </div>



</body>
</html>