@using Microsoft.AspNetCore.Http;
@model List<Patient>

@{
    Layout = null;
  
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap" rel="stylesheet">
    <link href="~/fotograf-yukle/styles/style.css" rel = "stylesheet" /> 

    <title>Hoşgeldiniz</title>
</head>

<body>

    <div class="container1 w-container">
        <div class="div0">
            <div class="divsol">
                <div class="navbar">
                    @*<img src="~/fotograf-yukle/images/logo.png" class="logo-icon">*@
                    <a asp-controller="Patient" asp-action="PatientLogOut">
                    <img src="~/fotograf-yukle/images/logo.png" class="logo-icon">
                    </a> 
                </div>
                <div class="kisiselbilgiler">
                    <div class="text-block-2">Kişisel Bilgiler</div>

                        @foreach(var item in Model)
                        {
                            <div class="text-block-2">İsim</div>
                             <td>@item.Name</td>
                            <div class="text-block-2">Soyisim</div>
                        <td>@item.Surname</td>
                            <div class="text-block-2">T.C.</div>

                            <td>@item.TcNo</td>
                         
                        }

                   
                    <img src="~/fotograf-yukle/images/Rectangle-171.png" loading="lazy" alt="" class="settings-icon">

                </div>
            </div>
            
            <div class="divkutu">

                    <div class="col-1">
                        <h1>Hastalık Detayları</h1>
                    </div>

                <div class="divickutu">
                <form class= "form-group" action="Photo" method="post" enctype="multipart/form-data">
                    
                    @Html.Label("Kaşıntınız var mı?")
                    <br/>
                    <select name="Itch" id="Itch"" style="width:150px"; >
                                                    <option value=false>Yok</option>
                                                    <option value=true>Var</option>
                                                </select>
                    <br />
                     @Html.Label("Acı durumu nedir?")
                     <br/>
                    <select name="Pain" id="Pain" style="width:150px"; border-radius:12px;>
                                                    <option value=false>Yok</option>
                                                    <option value=true>Var</option>
                                                </select>
                    <br />

                     @Html.Label("Hiç şiş oldu mu?")
                     <br/>
                    <select name="Cont" id="Cont" style="width:150px"; border-radius:12px;>
                                                    <option value=false>Hayır</option>
                                                    <option value=true>Evet</option>
                                                </select>
                    <br />
                    @Html.Label("Ek bilgi")
                    @Html.TextBoxFor(x=>x, new { @class = "form-control", @name="Additional", @id="Additional"})
                    <br />

                    <input type="file" name = "ImageURL" class="button-2 w-button" accept="image/png, image/jpeg, image/jpg"/>
                    <span class="alert-danger" style="color: red;">@ViewData["warning"]</span>
                
                <input class="button-4 w-button" type="submit" name="" value="Kaydet">
                </form>
                </div>
            </div>
            <div class="divsag">
                <img src="~/fotograf-yukle/images/logo.png" loading="lazy" alt="" class="image">
                <div class="saglikbilgiler">
                    <div class="text-block-2">Sağlık Durumu </div>
                     @foreach(var item in Model)
                        {
                            <div class="text-block-2">Alerji</div>
                            if(@item.Allergy==false){
                            <td>Hayır</td>
                        }
                        else
                        {
                            <td>Evet</td>
                        }
                        <div class="text-block-2">Aktif Kullanılan ilaçlar</div>
                           if(@item.Medicine==false){
                            <td>Hayır</td>
                        }
                        else
                        {
                            <td>Evet</td>
                        }
                        
                            <div class="text-block-2">Kronik Rahatsızlık</div>
                               if(@item.Disease==false){
                            <td>Hayır</td>
                        }
                        else
                        {
                            <td>Evet</td>
                        }
                          }
                        
                    <img src="~/fotograf-yukle/images/Rectangle-171.png" loading="lazy" alt="" class="image-2">
                </div>
            </div>
        </div>
    </div>



</body>
</html>